<div id="body">
    <div id="dynamicList" data-bind="dynamicList: dynamicList">
    </div>
</div>
<script type="text/javascript" src="/Scripts/App/DynamicList.js"></script>
<script type="text/javascript" src="/Scripts/App/DynamicListKoBinding.js"></script>
<script type="text/javascript" src="/Scripts/App/App.js"></script>
